@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  box-sizing: border-box;
}

body {
  background-color: #213363;
  font-family: "Merriweather", Rubik;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  padding: 20px;
  margin: 0;
}

.container {
  background-color: #d3d04f;
  padding: 50px 20px;
  border-radius: 10px;
  text-align: center;
  width: 800px;
  max-width: 100%;
}

.container h1 {
  font-size: 20px;
  color: #17594a;
  letter-spacing: 2px;
}

.btn {
  background-color: #17594a;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: inherit;
  color: #d3d04f;
  font-size: 18px;
}

.btn:focus {
  outline: 2px solid #d3d04f;
  cursor: pointer;
}

.joke {
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
}
